*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
    --cor-fundo-body: #F6F9F9;
    --cor-fundo-imagem: #E1E6EA;
    --cor-fundo-card: white;
    --cor-das-bordas-e-sombra: #D1D9E0;
    --cor-preco: #0B08C4;
    --cor-header-botao: #08068D;
    --cor-nome-produto: #08068D;
    --cor-main:#F6F9F9;
}

.parte-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 90px;
    width: 100vw;
    background-color: var(--cor-header-botao);
} 

.itens-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px; 
}

.sino-e-avatar{
    display: flex;
    justify-content: space-between;
    width: 23%;
    align-items: center;
}

#bulbe{
    position:relative;
    left: 20px;
    bottom: -2px;
}

body{
    width: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-fundo-body);
    display: flex;
    flex-direction: column;
} 

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.caixa{
    width: 100vw;
    border-radius: 20px;
    background-color: var(--cor-fundo-body);
    padding-bottom: 100px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.imagem-card img{
  width: auto;
  height: 50%;
  border-radius: 10px;
}
.imagem-card {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .imagem-card img{
  
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.produto{
    position: relative;
    background-color: var(--cor-fundo-card);
    border: 2px solid var(--cor-das-bordas-e-sombra);
    width: 380px;
    height: 220px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    max-width: 900px;

    padding: 10px 15px;
    gap: 5px; 
}

.ftproduto1 {
    grid-column: 1/2;
    background-image: url('/assets/img/lixeira-inteligente.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.ftproduto2 {
    grid-column: 1/2;
    /* background-image: url('/assets/img/lampada-rgb.jpg'); */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.ftproduto3 {
    grid-column: 1/2;
    /* background-image: url('/assets/img/tomada-inteligente.webp'); */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.ftproduto4 {
    grid-column: 1/2;
    /* background-image: url('/assets/img/luminaria-sensor.jpg'); */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.espe{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 50%;
} 

.nome-produto{
    color: var(--cor-nome-produto);
    font-size: 20px;
    font-weight: 600;
    height: 90px;
    overflow: hidden;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.preco{
    color: var(--cor-preco);
    font-size: 16px;
    font-weight: 700;
}

button{
    background-color: var(--cor-header-botao);
    color: #fff;
    width: 160px;
    height: 40px;
    border:none;
    border-radius: 20px;
    font-size: 17px;
}

.x {
    background-image: url('/assets/img/x.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;

}  

.botao-mais {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    background: linear-gradient(#08068D, #08068D) padding-box,linear-gradient(135deg, #00ff88, #0072FF) border-box;
    color: white;
    border: 3px solid transparent;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
}  

.titulo {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo-imagem);
    padding: 14px 18px;
    padding-bottom: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    margin-bottom: -10px;

}

.titulo h1{
    font-size: 30px;
    font-weight: 600;
}

.icone-fav {
    width: 60px;
    height: 65px;
    background-image: url('/assets/img/bookmark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--cor-header-botao);
    background-position: center;
    background-size: 60%;
    border-radius: 17px;
}

.imgfavoritos{
    width: 180px;
    height: 180px;
}
body, html {
  overflow-x: hidden;
}

.nenhumProd{
    width: 100%;
    height: 70%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;


}
.nenhumProd h1{
    color: var(--cor-das-bordas-e-sombra);
    font-size: 30px;
    font-weight: 500;
}

@media (min-width: 600px){

    .nenhumProd h1{
    color: var(--cor-das-bordas-e-sombra);
    font-size: 40px;
    font-weight: 500;
    }

.itens-header {
  padding-left: 30px;
  padding-right: 30px;

}
.sino-e-avatar {
  width: 13%;
}

#bulbe {
  left: 30px;
  bottom: -2px;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    min-width: 380px;
    height: 330px;
    padding: 30px;
    gap: 40px;
}

.nome-produto{
    font-size: 28px;   
}

.preco{
    font-size: 30px;
}

button{
    width: 250px;
    height: 60px;
    font-size: 25px;
    border-radius: 27px;
}

.x {
    width: 40px;
    height: 40px;
}  

.botao-mais {
    width: 100px;
    height: 100px;
    font-size: 40px; 
}  

.ftproduto1, .ftproduto2, .ftproduto3, .ftproduto4 img{
    width: 250px;
    height: 250px;
}

.titulo h1{
    font-size: 50px;
    margin-left: 20px;
}

.icone-fav {
    width: 90px;
    height: 90px;
}

}

@media (max-width: 430px){
  
.nenhumProd h1{
    color: var(--cor-das-bordas-e-sombra);
    font-size: 20px;
    font-weight: 500;
}



.botao-mais {
    width: 75px;
    height: 75px;
    font-size: 30px; 
}  

.icone-fav {
    width: 70px;
    height: 70px;
}
} 


@media (max-width: 390px){
  
.produto{
    width: 340px;
    height: 200px;
    padding: 20px;
}

.nome-produto{
    font-size: 20px;
}

.preco{
    font-size: 20px;
}

button{
    width: 150px;
    height: 35px;
    font-size: 16px;
}

.titulo h1{
    font-size: 28px;
}

.icone-fav {
    width: 60px;
    height: 60px;
}

.x {
    width: 22px;
    height: 22px;
}  
}

@media (max-width: 360px){
  
.produto{
    width: 290px;
    height: 190px;
    padding: 20px;
}

.nome-produto{
    font-size: 15px;
    
}

.preco{
    font-size: 20px;
}

button{
    width: 130px;
    height: 35px;
    font-size: 16px;
}

.titulo h1{
    font-size: 25px;
}

.icone-fav {
    width: 55px;
    height: 55px;
}

.x {
    width: 20px;
    height: 20px;
}  

.botao-mais {
    width: 65px;
    height: 65px;
    font-size: 27px; 
}  

.ftproduto1, .ftproduto2, .ftproduto3, .ftproduto4 img{
    width: 90px;
    height: 120px;
}
}

#sino{
    width: 28px;
    height: 28px;
}