*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
    --cor-fundo-main: #fff;
    --cor-fundo-imagem: #dddada;
    --cor-das-bordas-pesquisa:#C2C2C2 ;
    --cor-caixa-carrossel:#F1A240;
    --cor-header-botao: #08068D;
    --cor-da-barra-pesquisa:#A4B3C1;
    --cor-do-fundo-aside: #E1E6EA;
    --cor-bolinha: #D2D9DF
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-do-fundo-aside);
}



.corpo-principal{
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo-main);
    border: 1px solid --cor-fundo-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.parte-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--cor-header-botao);
} 

header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: var(--cor-header-botao);
    height: 90px;
    width: 100vw;
    z-index: 1;
}

.itens-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

.sino-e-avatar{
    display: flex;
    justify-content: space-between;
    width: 23%;
}

#bulbe{
    position:relative;
    left: 20px;
    bottom: -2px;
}

.espacamento-superior{
    width: 100%;
    height: 15vh;
    background-color: var(--cor-do-fundo-aside);
}

#pesquisa{
    padding-left: 40px;
    background-color: var(--cor-fundo-main);
    width: 323px;
    height: 49px;
    border-radius: 20px;
    border: 0.5px solid var(--cor-das-bordas-pesquisa);
    /* border: 1px solid blue; */
    margin-top: -20px;
    
}

.pesquisa{
    margin-bottom: 9px;
    /* border: 1px solid orange; */

    height: 100%;
}

aside{
    width: 100%;
    height: 20vh;
    background-color: var(--cor-do-fundo-aside);
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.pesquisa ::placeholder{
    font-size: 15px;
}


.icon-lupa{
    position: relative;
    left: 8px;
    top: 33px;
    z-index: 0;
}

.empresa-principal{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

.empresa-1, .empresa-2, .empresa-3, .empresa-4, .empresa-5{
    width: 39px;
    height: 39px;
    /* background-color: white; */
    border-radius: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

 .empresa-1{
    background-image: url(./img/icon-araujo.png);
    background-size: cover;
} 

.empresa-2{
    background-image: url(./img/icon-leroy.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.empresa-3{
    background-image: url(./img/icon-amazon.png);
    background-size: cover;
}

.empresa-4{
    background-image: url(./img/icon-positivo.png);
    background-size: cover;
}

.empresa-5{
    background-image: url(./img/icon-ponto.png);
    background-size: cover;
}

.caixa-empresa{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 41px;
    height: 90%;
    position: relative;
    top: 30px;
}

.nome-empresa{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: center;
}

.empresa-principal{
    position: relative;
    bottom: 9px;
    display: flex;
  /* border: 1px solid pink; */
    align-items: last baseline;
    justify-content: center;
    
}

.titulo{
    width: 229px;
    height: 31px;
    font-weight: 600;
    font-size: 26px;
    display: flex;
    margin-right: 0px;
    margin-right: 112px;
    margin-top: 20px;
    
}

.caixa-maior-carrossel{
    margin-top: 15px;
    background-color: var(--cor-caixa-carrossel);
    width: 375px;
    height: 225px;
    color: var(--cor-fundo-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 26px;
    border-radius: 20px;
    gap: 10px;
    text-align: center;
}



.escrita-interna{
    display: flex;
    gap: 40px;
}


.desconto{
    width: 139px;
    height: 47px;
    background-color: var(--cor-header-botao);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-carrossel{
    width: 39px;
    height: 39px;
    background-image: url(./img/icon-ponto.png);
    background-size: cover;
    border-radius: 100px;
    left: 160px;
    bottom: 50px;
    position: relative;
    z-index: 1;
    
}

.bolinha1, .bolinha2{
    height: 8px;
    width: 8px;
    border-radius: 100px;
}

.bolinha1{
    border: 1px solid var(--cor-header-botao);
    background-color: var(--cor-header-botao);
}

.bolinha2{
    border: 1px solid var(--cor-bolinha);
    background-color: var(--cor-bolinha);
}

.bolinhas-de-selecao{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(255, 0, 0); */
    position: relative;
    bottom: 30px;
}


































/* .parte-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100%;
    left: 5px;
    background-color: blue;
} 

section{
    background-color: var(--cor-fundo-body);
    box-shadow: 0px -5px 15px var(--cor-das-bordas-e-sombra);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

.space-superior{
    width: 100%;
    height: 50px;
}

.barra-de-pesquisa{
    display: flex;
    align-items: center;
}

body{
    width: 100vw;
    height: 100vh;
    padding-bottom: 60px;
}  

main{
    display: flex;
    flex-direction: column; 
}   

.carrossel-maior {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    gap: 15px;
    padding: 10px;  
}

.carrossel-menor {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    gap: 10px;
    padding: 10px; 
}

.slide-maior {
    flex: 0 0 90%; 
    scroll-snap-align: center;
    background: var(--cor-fundo-body);
     
}

.slide-maior img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.slide-menor {
    flex: 0 0 45%;
     scroll-snap-align: center;
    background: var(--cor-fundo-body);
}

.slide-menor img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.separador{
    width: 95%;
    border-bottom: 0.5px solid var(--cor-das-bordas-e-sombra);
    position: relative;
    left: 10px;  
    margin-top: 10px; 
}  

.especificacoes-maior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
} 

.especificacoes-maior h2{
    font-size: 20px;
}

.preco-produto{
    color: var(--cor-preco);
}

.detalhamento-maior{
    font-size: 17px;
    padding-left: 10px;
}

.especificacoes-eletro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
}

.especificacoes-eletro h2 {
    font-size: 15px;
}

.detalhamento-menor{
    font-size: 13px;
    padding-left: 8px;
}

.parte-inferior{
    margin-top: 10px;
} 

.titulo-setor{
    padding-left: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--cor-fundo-body);
    width: 100%;
    bottom: 0;
    z-index: 1000;
    left: 0;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 5px 15px var(--cor-das-bordas-e-sombra);
}

.espacamento{
    width: 100%;
    height: 60px;
    background-color: var(--cor-fundo-body);

}



#pesquisa{
    width: 80vw;
    height: 35px;
    padding-left: 30px;
    border: 2px solid var(--cor-das-bordas-e-sombra);
    border-radius: 8px;
} 

.icon-lupa{
    position: relative;
    left: 29px;
    top: 3px;
}

.icon-cancel{
    position: relative;
    left: -30px;
    top: 3px;
}

.icon-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
}

#menu{
    width: 30px;
    height: 30px;
} 

.teste, .teste-logo{

    width: 30px;
    height: 30px;
    background-color: var(--cor-fundo-imagem);
   
    margin-bottom: 10px;
    border-radius: 3px;
}

.teste-logo{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--cor-fundo-imagem);
    
    margin-bottom: 1px;
    background-image: url(./img/logo-bulbe.jpeg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.conteudo-total-logo{
    background-color: var(--cor-fundo-imagem);
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.setor{
    font-size: 13px;
    margin-top: -10px;
     */


