*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    max-width: (100vw);
    height: auto;
} 

header {
  position: fixed;
  top: 0;
  /* border: 1px solid rgb(255, 0, 0); */
  background-color: var(--cor-header-botao);
  height: 90px;
  width: 100vw;
  z-index: 2;
}

:root{
    --cor-main: #F6F9F9;
    --cor-fundo-body: #fff;
    --cor-fundo-imagem: #dddada;
    --cor-das-bordas-e-sombra: #000000;
    --cor-preco1: #c50000;
    --cor-header-botao: #08068D;
    --cor-fundo: #E1E6EA;
    --cor-div-de-baixo: #f6f9f9;
    --cor-preco: #0B08C4;
    --cor-subtitulos: #536679;
    --cor-caixa-carrossel: #f1a240;
    --cor-tracado: #D1D9E0;
    --cor-escrita:#F5F8FF;
}

.headerSpace{
    height: 135px;
    width: 100%;
    color: var(--cor-div-de-baixo);
}

.parte-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    height: 90px;
    width: 100%;
    background-color: var(--cor-header-botao);
} 

.itens-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
}

.sino-e-avatar{
    display: flex;
    justify-content: space-between;
    width: 23%;
}

#bulbe{
    position:relative;
    left: 20px;
    bottom: -2px;
}

main{
    height: auto;
    width: 100%;
    background-color: var(--cor-caixa-carrossel);
    display: flex;
    align-items:end;
}

section{
    height: 100%;
    width: 100%;
}

.scroll{
    height: 90%;
    width: 100%;
    background-color: var(--cor-fundo);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

/* --- NOMES E TÍTULOS --- */
.nomeAfiliado{
    width: 75%;
    border-bottom: 2px var(--cor-tracado) solid;
    margin-left: 20px;
    padding-top: 10px;
}

.nomeCategoria{
    width: 75%;
    border-bottom: 2px var(--cor-tracado) solid;
    margin-left: 20px;
    font-size: 17px;

}

/* --- CARROSSEL --- */
.carrossel {
  display: flex;
  overflow-x: auto;               
  scroll-snap-type: x mandatory;  
  gap: 20px;                       
  padding: 10px;        
  padding-left: 20px;   
  padding-right: 20px;         
  scrollbar-width: none;          
}

.carrossel::-webkit-scrollbar {
  display: none;                  
}



.bigItem {
  flex: 0 0 auto;                 
  scroll-snap-align: center;      
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  background: var(--cor-fundo-body);
  border: 2px solid var(--cor-tracado);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bigItem img {
  width: 80%;
  height: 80%;
  
}

.bidNomeNota {
  width: 70px;
  height: 40px;
  display: flex;
  flex-direction: column;
}


.bigDescri {
  height: 15%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.bigNota {
  height: 40%;
  width: 50px;
  display: flex;
  flex-direction: row;
}

.bigNota img {
  height: 15px;
}

.bigNome {
  height: 60%;
  width: 100px;
}



.bigNome h1 {
  font-size: 17px;
}

.bigP {
  color: var(--cor-preco1);
  font-size: 20px;
}

/* .img-desconto {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 389px;
  height: 222px;
} */

/* Faz a imagem um contexto para posicionamento absoluto */
.img-desconto{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 389px;
  height: 222px;
}

/* Texto do banner sobre a imagem (inferior-esquerda) */
.escrita-banner{
  position: absolute;
  z-index: 3;
  color: var(--cor-escrita);
  font-weight: 500;
  font-size: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  /* margin-bottom: 12px;
  padding-left: 25px; */

}

.conteudo-total{
  width: 300px;
  height: 160px;
  /* border: 3px solid blueviolet; */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  justify-content: flex-start;
  
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}



/* Rótulo de porcentagem de desconto (superior-direita) */
.porcentagem-desconto{
  position: absolute;
  justify-content: baseline;
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 4;
  background: var(--cor-das-bordas-e-sombra);
  color: var(--cor-escrita);
  font-weight: 600;
  font-size: 24px;
  border-radius: 20px;
  width: 121px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.smallItem {
  flex: 0 0 auto;                 
  scroll-snap-align: center;      
  width: 300px;
  height: 190px;
  border-radius: 15px;
  overflow: hidden;
  background: var(--cor-fundo-body);
  border: 2px solid var(--cor-tracado);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* --- SEÇÃO DE CARDS --- */
.sessao-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.titulo-sessao-card{
    display: flex;
    color: var(--cor-titulos);
    font-size: 26px;
    gap: 5px;
    border-bottom: 1px solid var(--cor-borda-sessao-card);
}
  
.titulo-sessao-card p{
    display: flex;
    font-size: 12px;
    align-items: center;
}

.card-produto {
  width: 277px;
  height: 184px;
  background-color: var(--cor-fundo-branco);
  border: 1px solid var(--cor-fundo-branco);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
}

.imagem-card{
  background-image: url(./img/imagem-card.png);
  width: 112px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  
}

.estrela{
    width: 14px;
    height: 14px;
    background-image: url(./img/star-01.png);
    background-size: 14px;
}

.avaliacao{
    display: flex;
    gap: 2px;
}

.botao-produto{
    width: 100px;
    height: 34px;
    background-color: var(--cor-header-botao);
    color: var(--cor-main);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
}

.nome-produto-card{
    font-size: 24px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;     /* número máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.info-card{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.preco-produto-card{
  font-size: 20px;
  font-weight: 600;
  color: var(--cor-preco);
}

/* --- LOGO --- */
.logo{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  z-index: 1;
  top: 95px;
  border-radius: 53.5px;
  background-color: #000000;
  background-image: url(/assets/img/icon-amazon.png);
  background-position: center;
  background-size: cover;
}

.desconto{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nome-empresa{
  font-weight: 600;
  font-size: 32px;
  color: var(--cor-escrita);
}

.areaItens{
  
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.nome-empresa{
  position: absolute;
  font-weight: 600;
  font-size: 32px;
  left: 20px;
  top: 115px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img-desconto img{
  width: 90%;
  height: 90%;

}

.img-desconto{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.arealogo{
  background-color: var(--cor-caixa-carrossel);
  width: 100%;
  height: 50px;
}

