*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    max-width: (100vw);
    height: auto;
    text-decoration: none;
} 

header {
  position: fixed;
  top: 0;
  /* border: 1px solid rgb(255, 0, 0); */
  background-color: var(--cor-header-botao);
  height: 90px;
  width: 100vw;
  z-index: 2;
}

:root{
    --cor-main: #F6F9F9;
    --cor-fundo-body: #fff;
    --cor-fundo-imagem: #dddada;
    --cor-das-bordas-e-sombra: #000000;
    --cor-preco1: #c50000;
    --cor-header-botao: #08068D;
    --cor-fundo: #E1E6EA;
    --cor-div-de-baixo: #f6f9f9;
    --cor-preco: #0B08C4;
    --cor-subtitulos: #536679;
    --cor-caixa-carrossel: #f1a240;
    --cor-tracado: #D1D9E0;
    --cor-escrita:#F5F8FF;
}

.headerSpace{
    height: 135px;
    width: 100%;
    color: var(--cor-div-de-baixo);
}

.parte-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    height: 90px;
    width: 100%;
    background-color: var(--cor-header-botao);
} 

.itens-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
}

.sino-e-avatar{
    display: flex;
    justify-content: space-between;
    width: 23%;
}

#bulbe{
    position:relative;
    left: 20px;
    bottom: -2px;
}

main{
    height: auto;
    width: 100%;
    background-color: var(--cor-caixa-carrossel);
    display: flex;
    align-items:end;
}

section{
    height: 100%;
    width: 100%;
}

.scroll{
    height: 90%;
    width: 100%;
    background-color: var(--cor-fundo);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

/* --- NOMES E TÍTULOS --- */
.nomeAfiliado{
    width: 75%;
    border-bottom: 2px var(--cor-tracado) solid;
    margin-left: 20px;
    padding-top: 10px;
}

.nomeCategoria{
    width: 75%;
    border-bottom: 2px var(--cor-tracado) solid;
    margin-left: 20px;
    font-size: 17px;

}

/* --- CARROSSEL --- */
.carrossel {
  display: flex;
  overflow-x: auto;               
  scroll-snap-type: x mandatory;  
  gap: 20px;                       
  padding: 10px;        
  padding-left: 20px;   
  padding-right: 20px;         
  scrollbar-width: none;          
}

.carrossel::-webkit-scrollbar {
  display: none;                  
}



.bigItem {
  flex: 0 0 auto;                 
  scroll-snap-align: center;      
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  background: var(--cor-fundo-body);
  border: 2px solid var(--cor-tracado);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.big .NomeNota {
  
  width: 55%;
  height: 40px;
  display: flex;
  flex-direction: column;
}


.big .info-card {
  height: 15%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}


.bigNota {
  height: 40%;
  width: 50px;
  display: flex;
  flex-direction: row;
}

.bigNota img {
  height: 15px;
}

.big .nome {
  height: 10px;
  width: 100%;
  
}


.big .nome h1 {
  
  color: var(--cor-das-bordas-e-sombra);
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  height: 40px;
  width: 100%;
  /* position: relative;
  bottom: 10px; */
  -webkit-line-clamp: 2;     /* número máximo de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
    
.big .preco h1 {
  color: var(--cor-preco1);
  font-size: 20px;
}
.conteudo-total{
  width: 300px;
  height: 160px;
  /* border: 3px solid blueviolet; */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

.card-produto {
  width: 300px;
  background-color: var(--cor-fundo-body);
  border: 2px solid var(--cor-tracado);
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 12px;
  padding: 10px;
}

.card-produto.small{
  height: 184px;
  flex-direction: row;
  justify-content: space-between;
  
  
}

 .card-produto.big{
  height: 325px;
  flex-direction: column;
}

.card-produto img{
  border-radius: 8px;
}
.card-produto.big img{
  width:auto;
  height: 80%;
  
}






.estrela{
    width: 14px;
    height: 14px;
    background-image: url(./img/star-01.png);
    background-size: 14px;
}

.avaliacao{
    display: flex;
    gap: 2px;
}

.botao-produto{
    width: 100px;
    height: 34px;
    background-color: var(--cor-header-botao);
    color: var(--cor-main);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
}

.card-produto.small img{
  width:50%;
  height: auto;
  max-height: 90%;
  
}

.small .info-card{
  display: flex;
  flex-direction: column;
  
  gap: 35px;
  width: 42%;
  height: 90%;
  
  

}
.small .preco{
  font-size: 20px;
  font-weight: 600;
  color: var(--cor-preco);
}

/* --- LOGO --- */
.logo{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  z-index: 1;
  top: 95px;
  border-radius: 53.5px;
  background-color: #000000;
  background-image: url(/assets/img/icon-amazon.png);
  background-position: center;
  background-size: cover;
}

.desconto{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nome-empresa{
  font-weight: 600;
  font-size: 32px;
  color: var(--cor-escrita);
}

.areaItens{
  
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.nome-empresa{
  position: absolute;
  font-weight: 600;
  font-size: 32px;
  left: 20px;
  top: 115px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img-desconto img{
  width: 90%;
  height: 90%;

}

.img-desconto{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.arealogo{
  background-color: var(--cor-caixa-carrossel);
  width: 100%;
  height: 50px;
}

.infos{
  position: relative;
  bottom: 5px;
  text-decoration:none;
}

.infos {
  position: relative;
  bottom: 5px;
  text-decoration:none;
}


.small .nome{
    
    font-size: 12px;
    font-weight: 500;
    display: -webkit-box;
    height: 50px;
    width: 100%;
    /* position: relative;
    bottom: 10px; */
    -webkit-line-clamp: 2;     /* número máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }



.small h1{

}

a{
  text-decoration-line: none;
}